<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Home</title>
		<link rel="stylesheet" href="static/style.css">
	</head>
	<body>
		<header>
			<p><a href="/">Home</a> | <a href="/new_note">New meeting note</a> | <a href="/past_note">Past meeting notes</a> | <a href="/weather">Weather Forecast</a></p>
		</header>
		<img src="static/asr_campus.jpg" width="500px" alt="new asrjc campus">
		<h1>How may we effectively secure the new Anderson Serangoon Junior College campus in a manner that efficiently solves security and support staff workload?</h1>
		<p>This project serves to come up with methods to ensure the new</p>
		<p>ASRJC campus is more friendly in design for elderly support staff.</p>
		<br>
		<h2>Group Members</h2>
		<br>
		<table>
			<tr>
				<td><img src="static/advait.jpg" alt="advait" width="150px"></td>
				<td><img src="static/miaoke.jpg" alt="miaoke" width="150px"></td>
				<td><img src="static/junyu.jpg" alt="junyu" width="150px"></td>
				<td><img src="static/bo_an.jpg" alt="bo an" width="150px"></td>
			</tr>
			<tr>
				<td>Advait Contractor</td>
				<td>Zhang Miaoke</td>
				<td>Liu Junyu</td>
				<td>Lim Bo An</td>
			</tr>
		</table>
	</body>
</html>