<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Home</title>
		<link rel="stylesheet" href="static/style.css">
	</head>
	<body>
		<header>
			<p><a href="/">Home</a> | <a href="/new_note">New meeting note</a> | <a href="/past_note">Past meeting notes</a> | <a href="/weather">Weather Forecast</a></p>
		</header>
		
		<h1>New Meeting Note</h1>
		<br>
		<form method="POST">
			<label>Date (e.g. 2026-08-31):</label>
			<br>
			<input type="text" name="date" required>
			<br>
			<br>
			<label>Venue</label>
			<br>
			<input type="text" name="venue" required>
			<br>
			<br>
			<label>Meeting Notes:</label>
			<br>
			<textarea name="notes" required></textarea>
			<br>
			<br>
			<label>Actions to Take:</label>
			<br>
			<textarea name="actions" required></textarea>
			<br>
			<br>
			<input type="submit">
		</form>
	</body>
</html>