<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Home</title>
		<link rel="stylesheet" href="static/style.css">
	</head>
	<body>
		<header>
			<p><a href="/">Home</a> | <a href="/new_note">New meeting note</a> | <a href="/past_note">Past meeting notes</a> | <a href="/weather">Weather Forecast</a></p>
		</header>
		
		<h1>Weather Forecast</h1>
		<br>
		<form action="find_weather" method="POST">
			<label>Forecast keyword (eg. cloudy), leave blank for all</label>
			<br>
			<input type="text" name="weather_type" required>
			<br>
			<input type="submit" value="Search">
		<form>
		<br>
		<h2>Results for "{{ weather_type }}"</h2>
		<br>
		<table>
			<tr>
				<th>Area</th>
				<th>Forecast</th>
			<tr>
			{% for location in weather_data %}
			<tr>
				<td>{{ area }}</td>
				<td>{{ status }}</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>